/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(45deg, #d91717, #9198e5);
    opacity: 1;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
    min-height: 100vh;
    margin: 64px;
}

.container {
    position: relative;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #ffffff;
}

.link-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link {
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

.link:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.link:active {
    transform: translateY(1px);
}

/* December */
.star {
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

.star:hover {
    transition: ease-in 0.5s;
    transform: scale(3);
}

.dec-img {
    width: 192px;
    position: absolute;
    right: -85px;
    top: -85px;
    transform: rotate(25deg);
}

.dec .link-list {
    gap: 4px;
}

.dec .link-list a {
    background-color: rgb(9, 82, 40);
    margin: auto;
    white-space: nowrap;
}

.dec .link-list a:nth-child(2) {
    width: 80px;
}

.dec .link-list a:nth-child(3) {
    width: 120px;
}

.dec .link-list a:nth-child(4) {
    width: 160px;
}

.dec .link-list a:nth-child(5) {
    width: 200px;
}

.dec .buche {
    width: 40px;
    height: 40px;
    background-color: rgb(108, 38, 0);
    margin: -3px auto;
    border-radius: 0 0 5px 5px;
}