@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* General */
body {
    background-color: #000;
    color: #fff;
    min-height: 100dvh;
}

main {
    display: flex;
    width: 100%;
    min-height: calc(100dvh - 60px);
}

button {
    background-color: #000;
    border: solid 2px white;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s ease;
    width: fit-content;
}

.select-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    background-color: #000;
    border: solid 2px white;
    cursor: pointer;

}

select {
    background-color: #000;
    appearance: none;
    border: none;
    padding: 8px 32px 8px 16px;
    cursor: pointer;

}

select:focus {
    outline: none;
}

.select-container>i,
.search-container>i {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

input[type=search] {
    background-color: #000;
    border: solid 2px white;
    color: white;
    padding: 8px 16px;
    width: 100%;
}

.search-container {
    width: 100%;
    position: relative;
}

button {
    text-transform: uppercase;
}

button:hover {
    background-color: white;
    color: #000;
}

/* Navbar */

nav {
    border-top: solid 4px white;
    border-bottom: solid 4px white;
    display: flex;
    align-content: center;
}

nav img {
    padding: 0 0 8px 24px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 24px;
}

nav li {
    text-transform: uppercase;
}

nav li:hover {
    color: #5d95b9;
}

/* Sidebar */

aside {
    width: fit-content;
    padding: 24px 12px;
    border-right: solid 4px white;
}

aside ul {
    display: grid;
    gap: 24px;
    text-transform: uppercase;
}

aside ul li a {
    display: grid;
    place-items: center;
    cursor: pointer;
}

aside ul li:hover {
    color: #5d95b9;
}

aside ul li i {
    scale: 2;
    margin-bottom: 12px;
}

/* Main Section */

section {
    padding: 48px;
    width: 100%;
    display: flex;
    gap: 36px;
}

section>div {
    border: solid 3px white;
    padding: 24px;
}

section h2 {
    color: #5d95b9;
    text-transform: uppercase;
}

/* Index HTML */

.index-section {
    flex-direction: column;

}

/* First Div */

.universe-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    overflow: hidden;

}

.universe-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("./assets/space.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.universe-div a {
    color: #5d95b9;
    text-transform: uppercase;
}

.universe-div a:hover {
    text-decoration: underline;
}

/* Second Div */

.numbers-div {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;

    position: relative;
    overflow: hidden;
}

.numbers-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/space3.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.numbers-div header h2 {
    margin-bottom: 16px;
}

.numbers-div .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;
    margin-left: 12px;
}

.numbers-div .card-container .card {
    display: flex;
    align-items: center;
    gap: 24px;
}

.numbers-div .card-container .card i {
    scale: 2;
    color: #5d95b9;
}

.numbers-div .card-container .card:nth-child(2) i {
    rotate: 90deg;
}

.numbers-div .card-container .card div {
    font-size: 13px;
}

.numbers-div .card-container .card div h3 {
    color: #5d95b9;
}

.numbers-div button {
    margin-top: 36px;
    align-self: flex-end;
}

/* Planets HTML */

/* First Div */

.first-div-planets {
    width: 40%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 16px;
}

.first-div-planets::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/space3.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.first-div-planets h2 {
    color: white;
}

.first-div-planets select {
    color: white;
}

.first-div-planets>p {
    font-size: 14px;
    font-style: italic;
}

/* Result Grid */

.grid-container {
    height: 300px;
    overflow: auto;
}

.grid-container::-webkit-scrollbar {
    display: none;
}

.grid-container header {
    background-color: #5d95b9;
}

.grid-container>header,
.grid-container>ul>li {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: solid 1px #fff;
}

.grid-container>ul>li {
    cursor: pointer;
}

.grid-container>ul>li:hover {
    background-color: #5d96b946;
}

.selected {
    background-color: #5d95b9;
}

/* Second Div */

.second-div-planets {
    height: fit-content;
    color: #5d95b9;
    width: 60%;
}

.selected-planet {
    display: none;
    flex-direction: column;
}

.selected-planet h2 {
    margin-bottom: 8px;
}

.selected-planet p {
    font-size: 14px;
    font-style: italic;
}

.selected-planet>p>span {
    color: #fff;
}

.selected-planet .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;
    margin-left: 12px;
    padding: 36px 0;
}

.selected-planet .card-container .card {
    display: flex;
    align-items: center;
    gap: 24px;
}

.selected-planet .card-container .card i {
    scale: 2;
    color: #5d95b9;
}

.selected-planet .card-container .card div {
    font-size: 13px;
}

.selected-planet .card-container .card div h3 {
    color: #5d95b9;
}

.selected-planet .card-container .card div p {
    color: #fff;
}

.selected-planet>button {
    justify-self: end;
    align-self: end;
}